.container{
    position: relative;
    margin: 20px;
    height: 200px;
    display: flex;
    border: 1px solid blue;
    padding: 20px;
    width: 400px;
}

.red-box{
    background-color: red;
    /* bottom: 200px; no funciona por la posicion estatica*/
}

.blue-box{
    background-color: blue;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0px;
}

.green-box{
    background-color: rgb(104, 248, 104);
    position: relative;
}

.red-box, .blue-box, .green-box{
    width: 50px;
    height: 50px;
    margin: 20px;
}
